<a href="https://colab.research.google.com/github/ahairshi/mlzoompcamp-cohort2022/blob/main/MLZoomcamp_hw1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Question 1

What's the version of NumPy that you installed?

You can get the version information using the __version__ field:

In [1]:
import numpy as np
import pandas as pd

In [2]:
np.__version__

'1.21.6'

In [3]:
!wget -P /content/mlzoomcamp/ https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2022-09-10 18:37:53--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘/content/mlzoomcamp/data.csv.1’

data.csv.1          100%[===================>]   1.41M  --.-KB/s    in 0.06s

2022-09-10 18:37:53 (25.5 MB/s) - ‘/content/mlzoomcamp/data.csv.1’ saved [1475504/1475504]

## Question 2

How many records are in the dataset?

Here you need to specify the number of rows.

In [4]:
df = pd.read_csv("/content/mlzoomcamp/data.csv")
df.shape[0]

11914

## Question 3

Who are the most frequent car manufacturers (top-3) according to the dataset?

In [6]:
#unique, counts = np.unique(df['Model'], return_counts=True)
pd.value_counts(df['Make'])[0:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

## Question 4

What's the number of unique Audi car models in the dataset?

In [7]:
#len(np.unique(df[df['Make'] == 'Audi']['Model'],return_counts=True)[0])
df[df['Make'] == 'Audi']['Model'].nunique()

34

## Question 5
How many columns in the dataset have missing values?

In [8]:
#df.isnull().sum().sort_values(ascending = False)
df.columns[df.isna().any()].tolist()

['Engine Fuel Type',
 'Engine HP',
 'Engine Cylinders',
 'Number of Doors',
 'Market Category']

## Question 6
Find the median value of "Engine Cylinders" column in the dataset.



Now, calculate the median value of "Engine Cylinders" once again.

In [9]:
df['Engine Cylinders'].median()

6.0

Next, calculate the most frequent value of the same "Engine Cylinders".

Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.

Now, calculate the median value of "Engine Cylinders" once again.

In [10]:
df['Engine Cylinders'].fillna(df['Engine Cylinders'].mode().iloc[0]).isna().sum()
df['Engine Cylinders'].fillna(df['Engine Cylinders'].mode().iloc[0]).median()

6.0

## Question 7

Select all the "Lotus" cars from the dataset.

Select only columns "Engine HP", "Engine Cylinders".

Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).

Get the underlying NumPy array. Let's call it X.

Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

Invert XTX.

Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

What's the value of the first element of w?

In [11]:
X = df[df['Make'] == 'Lotus'][['Engine HP','Engine Cylinders']] \
                .drop_duplicates() \
                .reset_index(drop=True) \
                .to_numpy()
                
XTX = X.transpose().dot(X)
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800], np.int32)
w = np.linalg.inv(XTX).dot(X.transpose()).dot(y)
w

array([  4.59494481, -63.56432501])